@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Oxanium", sans-serif;
}

body {
	overflow: hidden;
	display: flex;
	justify-content: center;
}

#pokedex {
	margin-top: 2rem;
  display: inline-block;
  position: relative;
	max-width: 380px;
  width: 380px;
  height: 600px;
}

#pokemon-img, #pokemon-name, #search, #button {
  position: absolute;
}

#pokedex-img {
	position: absolute;
  bottom: 0;
	pointer-events: none;
	user-select: none;
}

#pokemon-img {
  top: 34%;
  left: 50%;
	transform: translate(-50%, -18%);
	height: 18%;
	pointer-events: none;
	user-select: none;
}

#pokemon-name {
  bottom: 43%;
  right: 16%;
}

#number {
	font-size: 1rem;
	color: #7f7f7f;
}

#name {
	text-transform: capitalize;
	font-weight: 900;
	font-size: 1.25rem;
	color:	#323232 ;
}

#search {
  bottom: 31%;
	right: 40%;
}

#search input {
	width: 163.5%;
	height: 2.5rem;
	font-size: 100%;

	border: solid 0.14rem #262626;
	border-radius: 9px;
	box-shadow: -3px 2px #7f7f7f, -5px 4px #262626;
	padding-left: 7%;
	background-color: #e3e3e3;
}

#search input:focus {
	outline: none;
}

#button {
	display: flex;
	gap: 15px;
	bottom: 9%;
	left: 16%;
}

#button button {
	width: 8rem;
	height: 2.5rem;
	border-radius: 5px;
	box-shadow: -1px 2px #151515, -3px 4px #000000;
	background-color: #292936;
	color: #e3e3e3;
}

#button button:active {
	box-shadow: inset -4px 4px 0 #222;
	font-size: 0.75rem;
}

#button button:hover {
	cursor: pointer;
}